
body {
  background-color: #f0f3bd;
  color: #05668d;
  font-family: Verdana;


  width: 1000px;
  margin: auto;
  border: 0px solid red;



}

link {
  color: #028090;
}

visited {
  color: #00A896;
}
